body {
    background-color: #FFFDD0;
}

@media only screen and (min-width: 992px) {
    .sect {
        background-color: whitesmoke;
        width: 50%;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 0px 0px 20px 3px black;
        margin-top: 20px;  
    }
    #image {
        width: 27%;
        
        border-radius: 50%;
        margin-top: 7px;
        border: 2px solid black;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sect {
        background-color: whitesmoke;
        width: 70%;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 0px 0px 20px 3px black;
        margin-top: 20px;  
    }
    #image {
        width: 30%;
         
        border-radius: 50%;
        margin-top: 7px;
        border: 2px solid black;
    }
}

@media only screen and (max-width: 767px) {
    .sect {
        background-color: whitesmoke;
        width: 95%;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 0px 0px 20px 3px black;
        margin-top: 20px;  
    }
    #image {
        width: 30%;
         
        border-radius: 50%;
        margin-top: 7px;
        border: 2px solid black;
    }
}

h4 {
    margin-top: 10px;
}

footer.container {
    margin-top: 20px;
    width: 100%;
}

button {
    background-color: #fff5cb;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ffe5b5;
    box-shadow: 0.5px 0.5px 5px black;
}

button:active {
    background-color: #ffd7a3;
    box-shadow: 1px 1px 5px black inset;
}