body {
    background-color: #FFFDD0;
}

@media only screen and (min-width: 992px) {
    .sect {
        background-color: whitesmoke;
        width: 50%;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 0px 0px 20px 3px black;
        margin-top: 20px;  
    }
    #image {
        width: 27%;
        border-radius: 50%;
        margin-top: 7px;
        border: 2px solid black;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sect {
        background-color: whitesmoke;
        width: 70%;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 0px 0px 20px 3px black;
        margin-top: 20px;  
    }
    #image {
        width: 30%;
        border-radius: 50%;
        margin-top: 7px;
        border: 2px solid black;
    }
}

@media only screen and (max-width: 767px) {
    .sect {
        background-color: whitesmoke;
        width: 95%;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 0px 0px 20px 3px black;
        margin-top: 20px;  
    }
    #image {
        width: 30%;
        border-radius: 50%;
        margin-top: 7px;
        border: 2px solid black;
    }
}



footer.container {
    margin-top: 20px;
    width: 100%;
}